/* You can add global styles to this file, and also import other style files */
html {
  --primary-color: #605dc8;
  --accent-color: #e8e7fb;
  --secondary-color: #918fe8
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
